/* 기본 스타일은 그대로 유지 */

.RecentPath {
    border-radius: 10px;
    border: 1px solid #0021f5;
    justify-content: center;
    margin: 20px;
    width: 300px;
    height: 150px;
}
.recentRoot {
    display: flex;
    padding-left: 7%;
}
.recentRoot h2 {
    font-size: 30px;
    color: #050507;
    font-weight: bold;
    margin-top: 40px;
}
.station1 {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.RecentPathcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.learn-more-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.image-button {
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-right: -2.5px;
}
.delete-button {
    width: 19px;
    height: 19px;
    border: 1px solid #0021f5;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 30px;
    margin-top: 10px;
    display: flex;
    float: right;
}

.text {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.details {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.details p {
    font-size: 20px;
    color: #050507;
    font-weight: bold;
    margin-top: 10px;
}
.VerticalBar {
    display: flex;
    justify-content: center;
}
.review {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer {
    height: 100px;
    padding: 40px;
    background: #d9d9d9;
    display: flex;
    justify-content: flex-end;
}
.footer p {
    color: #050507;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

/* 반응형 스타일 */

@media (max-width: 768px) {
    .Main_mainImg_text {
        font-size: 27px;
    }

    .RecentPath {
        width: 300px;
        height: 150px;
        margin: 20px;
    }

    .RecentPathcontainer {
        /* flex-direction: column; */
        align-items: center;
    }

    .text {
        align-items: center;
    }

    .details {
        align-items: center;
        gap: 10px;
    }

    .details p {
        font-size: 16px;
    }

    .recentRoot h2 {
        font-size: 24px;
        text-align: center;
    }

    .review {
        display: flex;
        justify-content: center;
    }

    .footer {
        /* flex-direction: column; */
        text-align: center;
    }

    .footer p {
        margin: 5px 0;
    }
}
