.Main_mainImg_container {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #353479;
}

.Main_mainImg_text {
    position: absolute;
    display: block;
    top: 80px;
    font-size: 27px;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1.3px black;
}
